/* .sectionB {

} */
.sectionB .parent,.sectionA .parent{
    display: flex;
    flex-wrap: wrap;
  }
  
  .sectionB .child,  .sectionA .child {
    width: 50%;
    box-sizing: border-box;
  }
  .btn {
    letter-spacing: 0.02em;
    box-shadow: 0 2px 8px 0 rgba(62,62,79,.23);
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    touch-action: manipulation;
    background-color: rgba(103,114,148,0.43);
    color: #000 ;
    padding: 6px 12px;
    border: 1px solid transparent;
    cursor: pointert
  }
  .btn:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.30);
    
    transform: translateY(-5px);
    background-color: #808080;
    color: #fff;
    border: none;

  }
  .sectionB img,.sectionA img {
    width: 500px;
    height: auto;
  }
  